body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F8FF;
}

header {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #340F6A;
    color: #FFFFFF;
    padding: 20px 0;
}

.bold-text {
    font-weight: bold;
}

.regular-text {
    font-weight: normal;
}

.no-result-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-text-big {
    font-size: 24px;
}

label {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #3A1078;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    width: 100%;
    box-sizing: border-box; 
}

label:hover {
    background-color: #3A1078;
    color: #000000;
}

label:active {
    background-color: #340F6A;
    transform: translateY(2px);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #340F6A;
    color: #FFFFFF;
}

.calculation-section-vertical {
    margin: 40px 0;
    padding: 0px;
    border: 1px solid #3A1078;
    border-radius: 0px;
}

.calculation-section-horizontal {
    margin: 25px 0;
    padding: 0px;
    border-top: 1px solid #3A1078;
    border-radius: 0px;
}

.calculation-header {
    background-color: #3A1078;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.calculation-image {
    width: 40%; 
    display: block;
    margin: 0 auto; 
}

.calculation-imgDes {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin-top: -30px;
}

.calculation-text {
    text-align: left;
    padding-left: 20px;
}

.input-box {
    text-align: center; 
    margin-top: 20px; 
}

.input-box input {
    width: 95%;
    padding: 8px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 10px; 
}

.hitung-button {
    background-color: #340F6A;
    color: #FFFFFF;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.hitung-button:active {
    background-color: #640F6A;
    transform: translateY(2px);
}

.reset-button-container {
    text-align: right;
}

.reset-button {
    background-color: #51C8E4; 
    color: #FFFFFF;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.reset-button:active {
    background-color: #81C8E4;
    transform: translateY(2px);
}

.result-container {
    text-align: left;
    margin: 20px;
}

.calculation-image {
    width: 400px;
    height: 400px;
}
